In [1]:
import pandas as pd

test_file_path = r'E:/Deploying Machine Learning Models Udemy Course/zero-to-gbms-course-project-credit-risk-modelling-v-1/Classification_Model/datasets/test.csv'
test_df = pd.read_csv(test_file_path)
test_df.drop(columns=['SeriousDlqin2yrs'], axis=1, inplace=True)
test_df.head()

,Unnamed: 0,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30_59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60_89DaysPastDueNotWorse,NumberOfDependents
0,1,0.885519,43,0,0.177513,5700.0,4,0,0,0,0.0
1,2,0.463295,57,0,0.527237,9141.0,15,0,4,0,2.0
2,3,0.043275,59,0,0.687648,5083.0,12,0,1,0,2.0
3,4,0.280308,38,1,0.925961,3200.0,7,0,2,0,0.0
4,5,1.000000,27,0,0.019917,3865.0,4,0,0,0,1.0

In [2]:
from Give_Me_Some_Credit.util.util import read_yaml_file
from Give_Me_Some_Credit.constants import USE_COLS_KEY
schema_file_path = r'E:/temp_dataset/New/config/schema.yaml'
dataset_schema = read_yaml_file(file_path=schema_file_path)
dataset_schema[USE_COLS_KEY]

['age',
 'NumberOfTime30_59DaysPastDueNotWorse',
 'NumberOfTime60_89DaysPastDueNotWorse',
 'NumberOfTimes90DaysLate',
 'RevolvingUtilizationOfUnsecuredLines',
 'SeriousDlqin2yrs']

In [3]:
train_file_path = r'E:/Deploying Machine Learning Models Udemy Course/zero-to-gbms-course-project-credit-risk-modelling-v-1/Classification_Model/datasets/train.csv'
train_df = pd.read_csv(train_file_path)

train_df.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30_59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60_89DaysPastDueNotWorse,NumberOfDependents
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

In [4]:
cols_to_drop = [col for col in train_df.columns if col not in dataset_schema[USE_COLS_KEY] ]
cols_to_drop

['Unnamed: 0',
 'DebtRatio',
 'MonthlyIncome',
 'NumberOfOpenCreditLinesAndLoans',
 'NumberRealEstateLoansOrLines',
 'NumberOfDependents']

In [5]:
train_df.drop(columns=cols_to_drop, axis=1, inplace=True)
train_df.head()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30_59DaysPastDueNotWorse,NumberOfTimes90DaysLate,NumberOfTime60_89DaysPastDueNotWorse
0,1,0.766127,45,2,0,0
1,0,0.957151,40,0,0,0
2,0,0.658180,38,1,1,0
3,0,0.233810,30,0,0,0
4,0,0.907239,49,1,0,0

In [6]:
from Give_Me_Some_Credit.pipeline.prediction_pipeline import DefaultPredictor
saved_model_path = r'E:/Give-Me-Some-Credit-Machine-Learning-Project/saved_models'
# predictor = DefaultPredictor(model_dir=saved_model_path).predict(test_df)
# predictor

In [7]:
import os
folder_name = list(map(int, os.listdir(saved_model_path)))
latest_model_dir = os.path.join(saved_model_path, f"{max(folder_name)}")
file_name = os.listdir(latest_model_dir)[0]
latest_model_path = os.path.join(latest_model_dir, file_name)
latest_model_path

'E:/Give-Me-Some-Credit-Machine-Learning-Project/saved_models\\20230404161955\\model.pkl'

In [8]:
def load_object(file_path: str):
    try:
        with open(file_path, "rb") as file_obj:
            return dill.load(file_obj)
    except Exception as e:
        raise CreditException(e, sys) from e

In [9]:
import dill

x = load_object(file_path=latest_model_path)

C:\Users\Chirag Sharma\anaconda3\lib\site-packages\sklearn\base.py:288: UserWarning: Trying to unpickle estimator Pipeline from version 1.0.2 when using version 1.2.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\Chirag Sharma\anaconda3\lib\site-packages\sklearn\base.py:288: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 1.0.2 when using version 1.2.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\Chirag Sharma\anaconda3\lib\site-packages\sklearn\base.py:288: UserWarning: Trying to unpickle estimator RandomForestClassifier from version 1.0.2 when using version 1.2.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [10]:
file = r'E:/Give-Me-Some-Credit-Machine-Learning-Project/Credit_Default_Pipeline/artifact/data_transformation/2023-04-04-16-14-19/preprocessed/prerocessed.pkl'
x = load_object(file_path=file)
transformed_train_df = x.transform(train_df)
transformed_train_df.head()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,NumberOfTime30_59DaysPastDueNotWorse,NumberOfTimes90DaysLate,NumberOfTime60_89DaysPastDueNotWorse,age_0.333,RevolvingUtilizationOfUnsecuredLines_0.333,TotalNumberOfDues
0,1,0.766127,-1,0,0,3.556893,0.915026,-1
1,0,0.957151,0,0,0,3.419952,0.985508,0
2,0,0.658180,-1,-1,0,3.361975,0.869858,-2
3,0,0.233810,0,0,0,3.107233,0.616057,0
4,0,0.907239,-1,0,0,3.659306,0.968071,-1

In [11]:
transformed_train_df.shape

(150000, 8)

In [14]:
from Give_Me_Some_Credit.pipeline.prediction_pipeline import DefaultPredictor

predictions = DefaultPredictor(model_dir=saved_model_path).predict(test_df)
submission_file_path = r'E:/Deploying Machine Learning Models Udemy Course/zero-to-gbms-course-project-credit-risk-modelling-v-1/Classification_Model/datasets/sampleEntry.csv'
submission_df = pd.read_csv(submission_file_path)
submission_df.head()

C:\Users\Chirag Sharma\anaconda3\lib\site-packages\sklearn\base.py:288: UserWarning: Trying to unpickle estimator Pipeline from version 1.0.2 when using version 1.2.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\Chirag Sharma\anaconda3\lib\site-packages\sklearn\base.py:288: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 1.0.2 when using version 1.2.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\Chirag Sharma\anaconda3\lib\site-packages\sklearn\base.py:288: UserWarning: Trying to unpickle estimator RandomForestClassifier from version 1.0.2 when using version 1.2.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

   Id  Probability
0   1     0.080807
1   2     0.040719
2   3     0.011968
3   4     0.067640
4   5     0.108264

In [16]:
# pwd

In [17]:
submission_df['Probability'] = predictions
submission_df.to_csv('submission.csv', index=False)

In [18]:
submission_df.head()

   Id  Probability
0   1     0.091030
1   2     0.038924
2   3     0.008795
3   4     0.095602
4   5     0.091631

In [19]:
from Give_Me_Some_Credit.pipeline.prediction_pipeline import DefaultData

In [30]:
test_file_path = r'E:/Deploying Machine Learning Models Udemy Course/zero-to-gbms-course-project-credit-risk-modelling-v-1/Classification_Model/datasets/test.csv'
test_df = pd.read_csv(test_file_path)
print(test_df.shape)
test_df.head()

(101503, 12)

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30_59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60_89DaysPastDueNotWorse,NumberOfDependents
0,1,NaN,0.885519,43,0,0.177513,5700.0,4,0,0,0,0.0
1,2,NaN,0.463295,57,0,0.527237,9141.0,15,0,4,0,2.0
2,3,NaN,0.043275,59,0,0.687648,5083.0,12,0,1,0,2.0
3,4,NaN,0.280308,38,1,0.925961,3200.0,7,0,2,0,0.0
4,5,NaN,1.000000,27,0,0.019917,3865.0,4,0,0,0,1.0

In [25]:
t = DefaultData(RevolvingUtilizationOfUnsecuredLines=0.885519,
    age=43,
    NumberOfTime30_59DaysPastDueNotWorse=0,
    DebtRatio=0.177513,
    MonthlyIncome=5700.0,
    NumberOfOpenCreditLinesAndLoans=4,
    NumberOfTimes90DaysLate=0,
    NumberRealEstateLoansOrLines=0,
    NumberOfTime60_89DaysPastDueNotWorse=0,
    NumberOfDependents=0.0).get_credit_input_dataframe()

In [26]:
t

,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30_59DaysPastDueNotWorse,NumberOfTimes90DaysLate,NumberOfTime60_89DaysPastDueNotWorse
0,0.885519,43,0,0,0

In [28]:
if t.shape == (1,5):

True

In [24]:
DefaultPredictor(model_dir=saved_model_path).predict(pd.DataFrame(t))

C:\Users\Chirag Sharma\anaconda3\lib\site-packages\sklearn\base.py:288: UserWarning: Trying to unpickle estimator Pipeline from version 1.0.2 when using version 1.2.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\Chirag Sharma\anaconda3\lib\site-packages\sklearn\base.py:288: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 1.0.2 when using version 1.2.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\Chirag Sharma\anaconda3\lib\site-packages\sklearn\base.py:288: UserWarning: Trying to unpickle estimator RandomForestClassifier from version 1.0.2 when using version 1.2.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

array([0.09102958])

### Single prediction

In [32]:
t = DefaultData(RevolvingUtilizationOfUnsecuredLines=0.885519,
    age=43,
    NumberOfTime30_59DaysPastDueNotWorse=0,
    DebtRatio=0.177513,
    MonthlyIncome=5700.0,
    NumberOfOpenCreditLinesAndLoans=4,
    NumberOfTimes90DaysLate=0,
    NumberRealEstateLoansOrLines=0,
    NumberOfTime60_89DaysPastDueNotWorse=0,
    NumberOfDependents=0.0).get_credit_input_dataframe()
t

,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30_59DaysPastDueNotWorse,NumberOfTimes90DaysLate,NumberOfTime60_89DaysPastDueNotWorse
0,0.885519,43,0,0,0

In [33]:
DefaultPredictor(model_dir=saved_model_path).predict(pd.DataFrame(t))

C:\Users\Chirag Sharma\anaconda3\lib\site-packages\sklearn\base.py:288: UserWarning: Trying to unpickle estimator Pipeline from version 1.0.2 when using version 1.2.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\Chirag Sharma\anaconda3\lib\site-packages\sklearn\base.py:288: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 1.0.2 when using version 1.2.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\Chirag Sharma\anaconda3\lib\site-packages\sklearn\base.py:288: UserWarning: Trying to unpickle estimator RandomForestClassifier from version 1.0.2 when using version 1.2.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

array([0.09102958])

### Bulk Predictions

In [36]:
test_file_path = r'E:/Deploying Machine Learning Models Udemy Course/zero-to-gbms-course-project-credit-risk-modelling-v-1/Classification_Model/datasets/test.csv'
test_df = pd.read_csv(test_file_path)
test_df.drop(columns=['SeriousDlqin2yrs'], axis=1, inplace=True)
print(test_df.shape)
test_df.head()

(101503, 11)

,Unnamed: 0,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30_59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60_89DaysPastDueNotWorse,NumberOfDependents
0,1,0.885519,43,0,0.177513,5700.0,4,0,0,0,0.0
1,2,0.463295,57,0,0.527237,9141.0,15,0,4,0,2.0
2,3,0.043275,59,0,0.687648,5083.0,12,0,1,0,2.0
3,4,0.280308,38,1,0.925961,3200.0,7,0,2,0,0.0
4,5,1.000000,27,0,0.019917,3865.0,4,0,0,0,1.0

In [37]:
DefaultPredictor(model_dir=saved_model_path).predict(pd.DataFrame(test_df))

C:\Users\Chirag Sharma\anaconda3\lib\site-packages\sklearn\base.py:288: UserWarning: Trying to unpickle estimator Pipeline from version 1.0.2 when using version 1.2.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\Chirag Sharma\anaconda3\lib\site-packages\sklearn\base.py:288: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 1.0.2 when using version 1.2.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\Chirag Sharma\anaconda3\lib\site-packages\sklearn\base.py:288: UserWarning: Trying to unpickle estimator RandomForestClassifier from version 1.0.2 when using version 1.2.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

array([0.09102958, 0.03892376, 0.00879508, ..., 0.00813329, 0.15334371,
       0.04315093])

In [22]:
import os
from Give_Me_Some_Credit.constants import *
from Give_Me_Some_Credit.util.util import write_yaml_file, read_yaml_file

In [27]:
threshold_file_path = os.path.join(ROOT_DIR, CONFIG_DIR, "threshold.yaml")
threshold_content = {"threshold": 56}
if os.path.exists(threshold_file_path):
    os.remove(threshold_file_path)
write_yaml_file(file_path=threshold_file_path, data=threshold_content)

In [38]:
threshold_file_path = os.path.join("Credit_Default_Pipeline", "artifact", MODEL_TRAINER_ARTIFACT_DIR_KEY, 
                                   CURRENT_TIME_STAMP, "threshold.yaml")
threshold_content = {"threshold": 56}
if os.path.exists(threshold_file_path):
    os.remove(threshold_file_path)
write_yaml_file(file_path=threshold_file_path, data=threshold_content)

In [39]:
threshold_file_path

'Credit_Default_Pipeline\\artifact\\model_trainer\\2023-04-06-09-28-40\\threshold.yaml'